{% extends "layout.html" %}
{% block content %}
This faucet gives out 10 ETH at a time to addresses with limited balances on the Ropsten Ethereum test network.  It is open to anyone with a Google sign-on (including all Portland State University students with a pdx.edu address taking the Blockchain <a href="https://thefengs.com/wuchang/courses/cs410b">course</a>).  Only one request per e-mail address per day is allowed.

<h3>To get Ropsten testnet ETH, click <a href="{{ url_for('eth') }}">here</a></h3>
{% endblock %}
