{% extends "layout.html" %}
{% block content %}
This faucet issues free Ropsten Ether (rETH) that has been produced by
a miner used to support Portland State University's Blockchain Development and
Security <a href="https://thefengs.com/wuchang/courses/cs410b">course</a>.
It issues up to 5 ETH at a time per Google sign-on and 10 ETH to PSU students.
To limit abuse, the faucet does not work with IP addresses that are known
to belong to proxies, data centers, or VPN providers.

<h3>To get Ropsten testnet ETH, click <a href="{{ url_for('eth') }}">here</a></h3>
{% endblock %}
